@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #a758db;
}

section.table {
    position: relative;

    width: 700px;
    padding: 15px;
    margin: auto;

    border-radius: 24px 60px;
    background-color: white;
    box-shadow: hsla(0, 0%, 0%, 0.302) 0px 19px 38px, hsla(0, 0%, 0%, 0.22) 0px 15px 12px;
}

div.content {
    padding: 2rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

input.number {
    background-color: #c7c7c7;
    border-top: #808080;
    border-left: #808080;
    border-right: #808080;
    border-bottom: #808080;
    border-radius: 10px;
    outline: unset;
    padding: 10px;
    margin-right: 10rem;
    font-size: 1.5rem;

    -webkit-user-drag: unset;

    width: 100px;
    height: 25px;
}

div.result {
    width: fit-content;
    margin: 0;

    color: black;
}

h1 {
    text-align: center;
    color: black;
}

span.txtAdiv {
    text-align: center;
    margin-bottom: 2rem;
}

span.numb {
    align-content: center;
}
.game {
    display: flex;
    margin: 1rem 0 0 0;
}

button.btn {
    height: 45px;    

    border-radius: 5px;
    font-weight: bold;
    background-color: #a758db;
}

p {
    color: black;
    text-align: center;
}

hr {
    display: none;
    width: 400px;
    border-color: black; 
}